body {
    background-image: url(a1.jpg);
    font-family: sans-serif;
    
    padding: auto;
    
}
  
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
  
h2 {
    font-size: 30px;
}
  
.established {
    font-style: italic;
}
  
h1, h2, p {
    text-align: center;
    flex: 1;

}
p{
    text-align: center;
    display: block;
    flex: 1;
     
}
h3{
    text-align: center;
    font-family: sans-serif;
}
  
.menu {
    width: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    /* height: -webkit-fill-available; */
}

img {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: auto ;
    
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}
  
.bottom-line {
    margin-top: 25px;
}
  
h1, h2 {
    font-family: Impact, serif;
}
  
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
  
.flavor, .dessert {
    text-align: left;
    width: 75%;
}
  
.price {
    text-align: right;
    width: 25%;
}
  
  
  
footer {
    font-size: 14px;
}
  
.address {
    margin-bottom: 5px;
    font-style: normal;
    
}
  
a {
    color: rgb(250, 144, 6);
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}
center{
    width: auto;
    /* background-color: rgb(234, 137, 9); */
    margin-left: 0;
    margin-right: 0;
    
    max-width: 80px;
}

/* html{
    height: -webkit-fill-available;
}
body{
    height: -webkit-fill-available;
} */

footer {
    font-size: 14px;
}
  
.address {
    margin-bottom: 5px;
}
  
a {
    color: black;
}
  
a:visited {
    color: rgb(250, 125, 8);
}
  
a:hover {
    color: rgb(243, 239, 14);
}
  
a:active {
    color: brown;
}
